* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

 ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
    color: white;
}

main {
    height: 100vh;
    background: url(Images/main\ beach1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-center {
    position: absolute;
    margin-top: 60px;
    margin-left: 120px;
    padding-top: 40px;
    padding-bottom: 30px;
    height: auto;
    width: 85%;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.2px );
    -webkit-backdrop-filter: blur( 0.2px );
    border-radius: 40px;
    border: 2px solid #fff;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .uil {
    margin-left: 60px;
}
.nav h3 {
    color: white;
    margin-left: -300px;
}
.line {
    width: 150px;
    border: 1px solid #fff;
    opacity: 0.4;
    position: absolute;
    margin-left: 400px;
}

.list a {
    margin-right: 100px;
    opacity: 0.8;
    position: relative;
}

  .list a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .list a:hover::after {
    opacity: 1;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #b69267;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
  }
   .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown a:hover::after {
    opacity: 0;
  }
  span {
    position: absolute;
    margin-left: -150px;
  }
  
.center {
    display: flex;
}
.side-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.side-bar .uil {
    margin-left: 70px;
    margin-bottom: 25px;
}
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin-left: 60px;
    margin-bottom: 20px;
}
.side-bar ul {
    margin-left: 50px;
    flex-direction: column;
}
.side-bar li{
    margin-bottom: 20px;
}

.text-side h2 {
    margin-left: 500px;
    margin-top: 80px;
    font-weight: 400;
}
.small-circle {
    margin-top: 20px;
    margin-left: 550px;
    display: flex;
}
.circle1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
    margin-right: 20px;
    opacity: 0.5;
}
.text-side h1 {
    color: aqua;
    margin-top: 20px;
    margin-left: 380px;
    opacity: 0.2;
    font-size: 72px;
    letter-spacing: 2rem;
}

.text2 {
    margin-left: 580px;
    display: flex;
    align-items: center;
}
.space {
    letter-spacing: 0.3rem;
}
.text2 h4 {
    font-weight: 400;
    opacity: 0.6;
}
.line1 {
    width: 190px;
    height: 1px;
    background: #fff;
    opacity: 0.4;
    margin-left: 40px;
    margin-right: 40px;
}

.book {
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
}
.book h5 {
    margin-left: 50px;
    font-weight: 400;
    margin-top: 3px;
}
.book .uil {
    font-size: 20px;
    opacity: 0.8;
}
@media screen and (max-width: 360px) {
    .list a {
        margin-right: 80px;
    }
}
@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
    main {
        height: 120vh;
        overflow-x: hidden;
    }
    .list ul a {
        font-size: 10px;
    }
    .main-center {
        width: 60%;
        height: 500px;
    }
    .nav .uil {
        margin-left: 30px;
    }
    .side-bar {
        margin-left: 180px;
        margin-top: -20px;
        
    }
    .side-bar .uil {
        margin-left: 50px;
    }
    .circle {
        margin-left: 50px;
    }
    .side-bar {
        margin-left: -20px;
        margin-top: -20px;
    }
    .side-bar ul {
        margin-left: 30px;
    }
    .text-side h2 {
        opacity: 0;
    }
    .text-side h1 {
        opacity: 0;
    }
    .book {
        margin-left: 10px;
    }
    .nav .uil {
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
    main {
        height: 130vh;
    }
    .main-center {
            width: 80%;
            margin-left: 60px;
        }
    .line {
        opacity: 0;
    }
    .nav .uil {
        opacity: 0;
    }
    .list a {
       margin-left: -50px;
    }
    .text-side h1 {
        font-size: 50px;
        margin-left: -100px;
    }
    .text-side h2 {
        margin-left: 100px;
        margin-top: 100px;
        font-weight: 400;
    }
    .nav h3 {
        opacity: 0;
    }
    .text2 h4 {
        opacity: 0;
    }
}
@media screen and (max-width: 895px) {
    .nav h3 {
        margin-left: 30px;
    }
    .text2 {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1030px) {
    body {
        overflow-x: hidden;
    }
    .line {
        opacity: 0;
    }
    .nav .uil {
        opacity: 0;
    }
    .text2 {
        margin-left: 20px;
    }
}